[Unit]
Description=Exporter Service
Requires=docker.service
After=docker.service

[Service]
type=oneshot
RemainAfterExit=yes
User=root

WorkingDirectory=/opt/home-iac/dockerized_apps
ExecStart=/bin/docker-compose -f exporter-compose.yml up -d 
ExecStop=/bin/docker-compose -f exporter-compose.yml down

[Install]
WantedBy=multi-user.target