[Unit]
Description=Nginx Service
Requires=docker.service
After=docker.service

[Service]
type=oneshot
RemainAfterExit=yes
User=root

WorkingDirectory=/opt/home-iac/media_server
ExecStart=/bin/docker-compose -f nginx-compose.yml up -d 
ExecStop=/bin/docker-compose -f nginx-compose.yml down

[Install]
WantedBy=multi-user.target
